In [1]:
import pandas as pd

df_reviews = pd.read_csv("Downloads/Reviews.csv")

print("Originial_Shape:", df_reviews.shape)
df_reviews.head(4)

Originial_Shape: (568454, 10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...

In [2]:
reviews = df_reviews[['Score', 'Time', 'Summary', 'Text']].copy()

In [3]:
reviews.dropna(subset = ['Text'], inplace = True)

In [4]:
reviews.rename(columns = 
               {'Score': 'rating',
    'Time': 'timestamp',
    'Summary': 'title',
    'Text': 'review'}, inplace = True)

In [5]:
reviews['date'] = pd.to_datetime(reviews['timestamp'], unit='s')
reviews.drop(columns=['timestamp'], inplace=True)

In [6]:
reviews.head(3)

,rating,title,review,date
0,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,2011-04-27
1,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,2012-09-07
2,4,"""Delight"" says it all",This is a confection that has been around a fe...,2008-08-18

In [7]:
reviews.to_csv("cleaned_amazon_reviews.csv", index=False)