In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv('train.csv.zip')

# Preview
print("Shape:", df.shape)
df.head()

Shape: (421570, 5)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df = df.sort_values(by ='Date')

In [12]:
print(df.isnull().sum)

<bound method DataFrame.sum of         Store   Dept   Date  Weekly_Sales  IsHoliday
0       False  False  False         False      False
277665  False  False  False         False      False
277808  False  False  False         False      False
277951  False  False  False         False      False
278094  False  False  False         False      False
...       ...    ...    ...           ...        ...
379648  False  False  False         False      False
181170  False  False  False         False      False
181313  False  False  False         False      False
181599  False  False  False         False      False
421569  False  False  False         False      False

[421570 rows x 5 columns]>

In [13]:
df = df.dropna()

In [14]:
df['YearMonth'] = df['Date'].dt.to_period('M').astype(str)

In [15]:
df.head(4)

        Store  Dept       Date  Weekly_Sales  IsHoliday YearMonth
0           1     1 2010-02-05      24924.50      False   2010-02
277665     29     5 2010-02-05      15552.08      False   2010-02
277808     29     6 2010-02-05       3200.22      False   2010-02
277951     29     7 2010-02-05      10820.05      False   2010-02

In [16]:
df.to_csv("cleaned_walmart_sales.csv", index=False)